@charset "utf-8";

/* CSS Document */


/* footer */

.footer-border {
    border: 0.1px;
    border-style: solid;
    border-color: #193647;
}

footer * {
    color: #DDD;
}

.icon-fa-style {
    color: white;
    font-size: 20px;
}

.logo-icon-footer {
    height: 80px;
}

.logo-text-footer {
    margin: 0px;
    padding: 0px;
    height: 50px;
}

@media all and (min-width: 769px) {
    .icon-follow-us {
        height: 30px;
        width: 30px;
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media all and (max-width: 768px) {
    .icon-follow-us {
        height: 30px;
        width: 30px;
        margin: auto;
        margin-right: 10px;
        margin-left: 10px;
    }
}